html,body{
  font-family:sans-serif;
  background-color: #1f2937;
}
.header{
  display:flex;
  justify-content: center;
}
.header_logo{
  font-size:24px;
  color: #f9faf9;
}
.header_links{
  font-size:18px;
  color:#e5e7eb;
  display:flex;
  justify-content:space-around;
}
