body{
  font-family:sans-serif;
  background-color: #1f2937;
  margin:0;
  padding:0;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  width:100%;
  height:auto;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0px 120px 0px 120px;
  padding-top:0px;
}
.header_logo{
  font-size:18px;
  color: #f9faf9;
  display:flex;
  justify-content: flex-start;
}
.header_links{
  font-size:18px;
  color:#e5e7eb;
  display:flex;
  list-style-type:none;
  justify-content: space-between;
  gap:20px;
  padding:0px;
  margin: 0px;;
}
.intro{
  display:flex;
  justify-content: space-evenly;
  margin-top:0px;
  padding-top:0px;
}
.detail{
  font-size: 48px;
  font-weight: 900;
  color:#f9faf8;
  margin:0px;
  padding:0px;
}
.detail2{
  font-size: 18px;
  color:#e5e7eb;
  display:flex;
  flex-wrap: wrap;
}
.description{
  display:flex;
  flex-direction: column;
}
.sign_up{
  color:#e5e7eb;
  background:#3882f6;
  border:none;
  width:100px;
  height:20px;
  border-radius: 5px;
  text-align: center;
  margin:5px 0;
}
.information1{
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}
.information{
  background-color:whitesmoke ;
  padding:100px;
}
.subtext_box{
  display:flex;
  flex-direction: column;
}
.box{
  background-color: #3882f6;
}
.subtext,.box{
  list-style: none;
  display:flex;
  flex-wrap:warp;

}