body{
  font-family:sans-serif;
  background-color: #1f2937;
  margin:0;
  padding:0;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  width:100%;
  height:auto;
}
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0px 20px 20px;
  padding-top:0px;
}
.header_logo{
  font-size:24px;
  color: #f9faf9;
  display:flex;
  justify-content: flex-start;
}
.header_links{
  font-size:18px;
  color:#e5e7eb;
  display:flex;
  list-style-type:none;
  justify-content: space-between;
  gap:10px;
  padding:0px;
  margin: 0px;;
}
.intro{
  display:flex;
  justify-content: space-evenly;
}
.detail{
  font-size: 48px;
  font-weight: 900;
  color:#f9faf8;
  margin:0px;
  padding:0px;
}
.detail2{
  font-size: 18px;
  color:#e5e7eb;
}
.description{
  display:flex;
  flex-direction: column;
  
}